<% if (!currentUser) { %>
    <%- include('../partials/not_logged') %>
<% } %> 
<form method="GET" action="/search/results">
    <input type="text" name="name" value="">
    <button class="btn btn-primary" type="submit">Search</button>
</form>

<h1 class="text-center">Search results for "<%= name %>"</h1>
<hr>
<div class="container"> 
    <% cards.forEach(function(card) { %>
        <div class="well">
            <a href="/search/<%= card.id %>"><img class="card_grid" src="<%= card.imageUrl %>" alt=""></a>
            <a href="/search/<%= card.id %>"><h5><%= card.name %></h5></a>
        </div>
    <% }); %>
</div>