<% if (currentUser) { %>
    <h1 class="text-center text_display">Cards Owned</h1>
    <hr>
    <div class="container"> 
        <% cards.forEach(function(card) { %>
            <div class="well">
                <a href="/own/<%= card.apiId %>"><img class="card_grid" src="<%= card.imageUrl %>" alt=""></a>
                <a href="/own/<%= card.apiId %>"><h5><%= card.name %></h5></a>
            </div>
        <% }); %>
    </div>
<% } else { %>
    <%- include('../partials/not_logged') %>
<% } %> 