<% if (currentUser) { %>
    <%- include('../partials/card_container') %>
    <div class="buttons">
        <form action="/want/show" method="POST">
            <div class="form-group">
                <input type="hidden" class="form-control" id="apiId" name="apiId" required value="<%= card[0].id %>">
                <input type="hidden" class="form-control" id="name" name="name" required value="<%= card[0].name %>">
                <input type="hidden" class="form-control" id="imageUrl" name="imageUrl" required value="<%= card[0].imageUrl %>">
            </div>
            <input type="submit" class="btn btn-primary" value="Own">
        </form>
        <form action="/want/?_method=DELETE" method="POST">
            <div class="form-group">
                <input type="hidden" class="form-control" id="apiId" name="apiId" required value="<%= card[0].id %>">
                <input type="hidden" class="form-control" id="name" name="name" required value="<%= card[0].name %>">
                <input type="hidden" class="form-control" id="imageUrl" name="imageUrl" required value="<%= card[0].imageUrl %>">
            </div>
            <input type="submit" class="btn btn-primary" value="Remove">
        </form>
    </div>
<% } else { %>
    <%- include('../partials/not_logged') %>
<% } %> 