<div class="card_container">
    <img class="card_image" src="<%= card[0].imageUrlHiRes %> " alt="">
    <h2 class="card_name"><%= card[0].name %> </h2>
    <h3 class="card_series">Card Series: <%= card[0].series %></h3>
    <h3 class="card_set">Card Set: <%= card[0].set %></h3>
    <h3 class="card_number">Card Number: <%= card[0].number %></h3>
    <h3 class="card_artist">Card Artist: <%= card[0].artist %></h3>
</div>
<div class="buttons">
    <form action="/want/show" method="POST">
        <div class="form-group">
            <input type="hidden" class="form-control" id="apiId" name="apiId" required value="<%= card[0].id %>">
            <input type="hidden" class="form-control" id="name" name="name" required value="<%= card[0].name %>">
            <input type="hidden" class="form-control" id="imageUrl" name="imageUrl" required value="<%= card[0].imageUrl %>">
        </div>
        <input type="submit" class="btn btn-primary" value="Own">
    </form>
    <form action="/want/?_method=DELETE" method="POST">
        <div class="form-group">
            <input type="hidden" class="form-control" id="apiId" name="apiId" required value="<%= card[0].id %>">
            <input type="hidden" class="form-control" id="name" name="name" required value="<%= card[0].name %>">
            <input type="hidden" class="form-control" id="imageUrl" name="imageUrl" required value="<%= card[0].imageUrl %>">
        </div>
        <input type="submit" class="btn btn-primary" value="Remove">
    </form>
</div>